.button {
   border-top: 1px solid #ffffff;
   background: #db2e2e;
   background: -webkit-gradient(linear, left top, left bottom, from(#cc0a0a), to(#db2e2e));
   background: -webkit-linear-gradient(top, #cc0a0a, #db2e2e);
   background: -moz-linear-gradient(top, #cc0a0a, #db2e2e);
   background: -ms-linear-gradient(top, #cc0a0a, #db2e2e);
   background: -o-linear-gradient(top, #cc0a0a, #db2e2e);
   padding: 7.5px 15px;
   -webkit-border-radius: 29px;
   -moz-border-radius: 29px;
   border-radius: 29px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #782828;
   background: #782828;
   color: #ffffff;
   }
.button:active {
   border-top-color: #5c1b1b;
   background: #5c1b1b;
   }
.background {
   color: #ffffff;
}